<!--CSS-->
<link rel="stylesheet" href="css/footer.css">
<footer>
    <nav id="myNavbar" class="navbar navbar-expand-lg navbar-light bg-light mt-5">
        <div class="container">
            <div class="row">
                <div class="col mr-5">
                    <div class="row">
                        <div class="col">
                            <h6>CATEGORIES</h6>
                            <hr>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Face</li>
                                <li class="list-group-item">Make up</li>
                                <li class="list-group-item">Hair</li>
                                <li class="list-group-item">Body</li>
                                <li class="list-group-item">Sun</li>
                            </ul>
                        </div>
                        <div class="col">
                            <h6>INFORMATION</h6>
                            <hr>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">About Us</li>
                                <li class="list-group-item">Contact</li>
                                <li class="list-group-item">WishList</li>
                            </ul>
                        </div>
                        <div class="col">
                            <h6>ASSISTANCE</h6>
                            <hr>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">FAQS</li>
                                <li class="list-group-item">Refund Policy</li>
                                <li class="list-group-item">Privacy Policy</li>
                                <li class="list-group-item">Terms of Service</li>
                                <li class="list-group-item">Shipments and Deliveries</li>
                                <li class="list-group-item">Secure Payment</li>
                                <li class="list-group-item">Cookies Policy</li>
                                <li class="list-group-item">Conditions of Purchase</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col ml-5">
                    <p>WE HAVE LOTS OF SURPRISES FOR YOU: EXCLUSIVE CONTENT, NEW PRODUCTS, FREE GIFTS, DISCOUNTS AND AMAZING BEAUTY TIPS.</p>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <h4>SIGN UP</h4>
                        </div>
                        <div class="col text-right">
                            <i class='bx bxs-arrow-to-right bx-md bx-fade-right-hover'></i>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <i class='col text-right bx bxl-instagram-alt bx-sm'></i>
                        <i class='col text-center bx bxl-facebook-square bx-sm'></i>
                        <i class='col text-left bx bxl-twitter bx-sm'></i>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</footer>