<section>
  <div class="container mt-5 mb-5">
    <h3 class="blockTitle">Bestseller Products</h3>
    <div class="mt-3 d-flex justify-content-center">
      <ul class="nav itemsList list-group list-group-horizontal" role="tablist">
        <li class="list-group-item nav-item">
          <a id="face_link" data-toggle="tab" href="#tab-face" class="active" aria-controls="face" aria-selected="true">
            <img class='d-flex justify-content-center mx-auto' src="/images/icons/face_icon.svg" width="35" height="35"
              alt="" loading="lazy">
            <span>face</span>
          </a>
        </li>
        <li class="list-group-item ml-3">
          <a id="makeup_link" data-toggle="tab" href="#tab-makeup" aria-controls="makeup" aria-selected="false">
            <img class='d-flex justify-content-center mx-auto' src="/images/icons/makeup_icon.svg" width="35"
              height="35" alt="" loading="lazy">
            <span>Make-up</span>
          </a>
        </li>
        <li class="list-group-item ml-3">
          <a id="hair_link" data-toggle="tab" href="#tab-hair" aria-controls="hair" aria-selected="false">
            <img class='d-flex justify-content-center mx-auto' src="/images/icons/hair_icon.svg" width="35" height="35"
              alt="" loading="lazy">
            <span>Hair</span>
          </a>
        </li>
        <li class="list-group-item ml-3">
          <a id="body_link" data-toggle="tab" href="#tab-body" aria-controls="body" aria-selected="false">
            <img class='d-flex justify-content-center mx-auto' src="/images/icons/body_icon.svg" width="35" height="35"
              alt="" loading="lazy">
            <span>Body</span>
          </a>
        </li>
        <li class="list-group-item ml-3">
          <a id="sun_link" data-toggle="tab" href="#tab-sun" aria-controls="sun" aria-selected="false">
            <img class='d-flex justify-content-center mx-auto' src="/images/icons/sun_icon.svg" width="35" height="35"
              alt="" loading="lazy">
            <span>Sun</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="tab-content mt-3">
      <div id="tab-face" class="tab-pane fade show active" role="tabpanel" aria-labelledby="face-link">
        <div class="row">
          <div class="card col shadow" style="width: 18rem;">
            <img src="images/products/CactusSerumColourpop.jpg" class="card-img-top mt-2" alt="Cactus Serum">
            <div class="card-body">
              <h5 class="card-title">Cactus</h5>
              <p class="card-text">Face Serum Boost</p>
              <span class="card-text price mr-2">$12
                <span class="starts">
                  <i class='bx bxs-star'></i>
                  <i class='bx bxs-star'></i>
                  <i class='bx bxs-star'></i>
                  <i class='bx bxs-star'></i>
                  <i class='bx bxs-star-half'></i>
                </span>
              </span>
              <button type="button" class="btn btn-outline-dark btn-sm mt-3">Add to Cart</button>
            </div>
          </div>
          <div class="card col ml-4 shadow" style="width: 18rem;">
            <img src="images/products/TumericSerum_Colourpop.jpg" class="card-img-top mt-2" alt="Turmetic Serum">
            <div class="card-body">
              <h5 class="card-title">Turmeric</h5>
              <p class="card-text">Face Serum Boost</p>
              <span class="card-text price mr-2">$12
                <span class="starts">
                  <i class='bx bxs-star'></i>
                  <i class='bx bxs-star'></i>
                  <i class='bx bxs-star'></i>
                  <i class='bx bxs-star'></i>
                  <i class='bx bx-star'></i>
                </span>
              </span>
              <button type="button" class="btn btn-outline-dark btn-sm mt-3">Add to Cart</button>
            </div>
          </div>
          <div class="card col ml-4 shadow" style="width: 18rem;">
            <img src="images/products/BfdCleaner_Colourpop.jpg" class="card-img-top mt-2" alt="...">
            <div class="card-body">
              <h5 class="card-title">BFD Oil Cleanser</h5>
              <p class="card-text">Face Cleanser</p>
              <span class="card-text price mr-2">$14
                <span class="starts">
                  <i class='bx bxs-star'></i>
                  <i class='bx bxs-star'></i>
                  <i class='bx bxs-star'></i>
                  <i class='bx bxs-star'></i>
                  <i class='bx bxs-star-half'></i>
                </span>
              </span>
              <button type="button" class="btn btn-outline-dark btn-sm mt-3">Add to Cart</button>
            </div>
          </div>
          <div class="card col ml-4 shadow" style="width: 18rem;">
            <img src="images/products/StrawberryFaceMilk_colourpop.jpg" class="card-img-top mt-2" alt="...">
            <div class="card-body">
              <h5 class="card-title">Strawberry</h5>
              <p class="card-text">Face Milk</p>
              <span class="card-text price mr-2">$14
                <span class="starts">
                  <i class='bx bxs-star'></i>
                  <i class='bx bxs-star'></i>
                  <i class='bx bxs-star'></i>
                  <i class='bx bxs-star'></i>
                  <i class='bx bxs-star-half'></i>
                </span>
              </span>
              <button type="button" class="btn btn-outline-dark btn-sm mt-3">Add to Cart</button>
            </div>
          </div>
        </div>
      </div>
      <div id="tab-makeup" class="tab-pane fade" role="tabpanel" aria-labelledby="makeup-link">
        <h1>makeup</h1>
      </div>
      <div id="tab-hair" class="tab-pane fade" role="tabpanel" aria-labelledby="hair-link">
        <h1>hair</h1>
      </div>
      <div id="tab-body" class="tab-pane fade" role="tabpanel" aria-labelledby="body-link">
        <h1>body</h1>
      </div>
      <div id="tab-sun" class="tab-pane fade" role="tabpanel" aria-labelledby="sun-link">
        <h1>sun</h1>
      </div>
    </div>
  </div>
</section>